
.icon-download-cloud:before { content: '\e800'; } /* '' */
.icon-edit:before { content: '\e819'; } /* '' */
.icon-folder:before { content: '\e805'; } /* '' */
.icon-folder-open:before { content: '\e804'; } /* '' */
.icon-folder-empty:before { content: '\e803'; } /* '' */
.icon-folder-open-empty:before { content: '\e802'; } /* '' */
.icon-cloud:before { content: '\e806'; } /* '' */
.icon-flash:before { content: '\e807'; } /* '' */
.icon-flight:before { content: '\e808'; } /* '' */
.icon-fighter-jet:before { content: '\e809'; } /* '' */
.icon-columns:before { content: '\e81a'; } /* '' */
.icon-paste:before { content: '\e80a'; } /* '' */
.icon-sitemap:before { content: '\e80b'; } /* '' */
.icon-upload-cloud:before { content: '\e801'; } /* '' */
.icon-github-squared:before { content: '\e80d'; } /* '' */
.icon-github-circled:before { content: '\e80c'; } /* '' */
.icon-cup:before { content: '\e80f'; } /* '' */
.icon-trash:before { content: '\e810'; } /* '' */
.icon-vcard:before { content: '\e811'; } /* '' */
.icon-desktop:before { content: '\e815'; } /* '' */
.icon-laptop:before { content: '\e814'; } /* '' */
.icon-tablet:before { content: '\e813'; } /* '' */
.icon-mobile:before { content: '\e812'; } /* '' */
.icon-folder-open-1:before { content: '\e816'; } /* '' */
.icon-folder-empty-1:before { content: '\e817'; } /* '' */
.icon-folder-open-empty-1:before { content: '\e818'; } /* '' */
.icon-github:before { content: '\e80e'; } /* '' */