@import "bbapp/bbapp_style.css";
@import "index/index_style.css";
@import "sdk/sdk_style.css";

.icone-amigos {
	display: inline-block;
	width: 24px;
	height: 14px;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("imgs/icon_amigos_2.png");
}

body .container #loading {
    margin-left: 25%;
    width: 45%;
}

body #banner {
    font-family: 'Lobster';
} 

.strong {
    font-weight: bold;
}